.user {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 115px;
  font-size: 1.8rem;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
  padding: 1rem;
}

.user:not(:last-child) {
  margin-bottom: 1rem;
}
